
/*soecification*/

body {
    font-family:'Lato', sans-serif;
    font-size: 15px;
    font-weight:400;
    font-stretch: expanded;
    background: url("file:///G:/_projects/%D1%80%D1%83%D1%81%D1%81%D0%BA%D0%B0%D1%8F_%D1%88%D0%BA%D0%BE%D0%BB%D0%B0_%D1%82%D0%B0%D1%80%D0%BE/home.jpg") no-repeat top;
    width: auto;
    overflow-x:  hidden !important;
}

.overflow {
    overflow-x: hidden;
}

h2 {
    letter-spacing: -2.2px;
}

/*first screen*/

.header {
    padding-top: 43px;
    color: #ffffff;
}

.logo {
    padding-left: 85px;
}

.menu {
    display: flex;
    padding-top:3px;
}

.menu__item {
    list-style: none;
    padding-right: 31px;
}

.menu__item a {
    color: #ffffff;
    text-decoration: none;
}

.menu__item:nth-child(1) {
    padding-left: 50px;
}

.home__question {
  
    font-size: 28px;
    font-weight: 300;
    text-align: center;
    padding-top: 132px;
    transform: scale(1.1,1.0);
    padding-left: 12px;
    letter-spacing: -1px;
}

h1 {
    font-size: 66px;
    font-weight: 600;
    text-align: center;
    line-height: 91px;
    letter-spacing:-2px;
    padding-right: 35px;

}

.learn {
    text-align: center;
    font-size: 20px;
    background: none;
    font-weight: 500;
    border: 2px solid #ffffff;
    border-radius: 2px;
    padding: 15px 45px;
    margin: 55px auto 125px;
    max-width: 239px;
}
.learn a {
    color: #ffffff;
    text-decoration: none;
}

/*second screen*/


.wrap {
    padding: 0 100px 75px 0px;
}

.web {
    padding-left: 120px;
}

.web__title {
    padding-top: 95px;
    padding-left: 95px;

}
.web__title, .branding__title, .form__title {
    font-size: 51px;
    color: #222222;
    font-weight: 300;
    padding-bottom: 30px;
    letter-spacing: .1px;
}

.branding__title {
    padding-top: 20px;
    padding-left: 40px;
}

.strong {
    font-weight: 700;
}

.web__text, .branding__text {
   
    line-height: 24px;
    color: #777777;
    
}
.web__text {
    padding-left:80px;
    max-width: ;
}

.web__text:nth-child(1) {
    padding-bottom: 20px;
}

.tree {
    margin-top: -80px;
}

/*third screen*/



.branding__text {
    width: 600px;  
    padding-left: 30px;
}

.users {
    padding-top: 46px;
    padding-left: 140px;
}

.background{
    padding-top: 75px;
    background-color: #fafafa;
    width: 1400px;
    margin: 0 auto;
}

.advantage {
    display: flex;
    padding-top:30px;
    line-height: 26px;
    padding-bottom: 14px;
}


.advantage__block {
    width: 310px;
}

.advantage__block-title {
    font-weight: 700;
    font-size: 18px;
}

.advantage__block-text {
    color: #777777;
}

.services {
    padding-top: 90px;
    padding-left: 140px;
}

.advantage__icon {
    padding-right: 17px;
}

#advantage {
    padding-left: 20px;
}

/*fourth screen*/

.blue {
    background-color: #7690c5;
    width: 1400px;
    margin: 0 auto;
}

.form__title {
    color: #ffffff;
    padding-top:90px;
    width: 300px;
    padding-bottom: 0px;
}

.form__text {
    width: 470px;
    color: #ffffff;
}

.form__title, .form__text {
    padding-left: 114px;
}

 
input [tipe=text] {
    color: #bbbbbb;
}

input {
    padding-left: 20px;
}

.name, .mail {

    width: 457px;
    height: 53px;
    float: right;
    color: #bbbbbb;
}

.name {
margin-top: 100px;
}

.mail {
    margin-top: 20px;
}

.contacts__padding {
    padding-left: 100px;
}

.message {
    width: 457px;
    height:210px;
    float: right;
    margin-top: 20px;
}

table {
    color: #ffffff;
    border-collapse: none;
}

.contacts__part {
    padding-top: 49px;
    padding-left: 106px;
}

#contacts__second {
    padding-left: 76px;
}




/*footer*/

footer {
    background: #7690c5;
    width: 1400px;
    margin: 0 auto;
}

.credits {
    width: 980px;
    margin: 0 auto;
    color: #ffffff;
    text-align: center;
    border-top: 1px solid #87a0d2;
    padding: 48px 0px;
    font-size: 14px;
}
