
/* max 720/1024 - min 320 */ 
/*  */


@media screen and (max-width: 1024px) {
    
    .video-content, 
    .video-mask {
        width: 290px;
        height: 163px;
        object-fit: contain;
    }

    .video-play {
        position: initial;
        transform: translateX(-50%);
       
    }
    
}

@media screen and (max-width: 768px){
.v-2, .v-3 {
    display: none;
}
.econom-pentagon {
    display: none;
}
.blue-bg-desktop,
.foto-bg-mask-transparent,
.foto-bg-mask {
    display: none;
}

.foto-bg {
    display: none;
}

.foto-bg-mobile {
    display:block;
    position: absolute;
    z-index: 4;
    right: 0;
    top: 230px;
}

.blue-bg-mobile
 {
    display: block;
    right: 0;
    left: 0;
    position: absolute;
}

.menu-custom-container {
    padding-bottom: 0;
    padding-top: 0;
}

.menu {
    display: flex;
    flex-direction: column-reverse;
}

.center-menu,
.call {
    display: none;
}

.yellow-bg {
    position: absolute;
    top: 85px;
    left: -30px;
    z-index: 5;
    /* width: 80px; */
    /* height: 80px; */
}

.yellow-bg img {
    width: 80px;
    height: 80px;
}

.rio-bg img {
    width: 115px;
    height: 115px;;
}

.rio-bg {
    left: 10px;
    top: 365px;
}

.offer__title {
    font-size: 24px;
    text-align: center;
}

.offer__intro-4 ,
.offer__intro-1 {
    font-size: 14px;
}

.offer__intro-4 {
    margin-top: 180px;
}

.offer__intro-2 {
    font-size: 16px;
    max-width: 210px;
}

.offer__intro-3 {
    display: none;
}

.call-dowload_text {
    text-align: center;
}



.call-dowload_btns {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.google-play {
    margin-right: 0px;
    margin-bottom: 20px;

}


.telephone {
    font-size: 16px;
}

.left-item {
    font-size: 10px;
}

.white-bg img {
    width: 50px;
    height: 50px;
}



.white-bg {
    left: 0;
    top: 95px;
    z-index: 5;
}

.bullet-group {
    display: flex;
    /* margin: auto; */
    /* position: absolute; */
    max-width: 175px;
    justify-content: center;
    bottom: -70px;
    /* transform: translateX(-50%); */
    /* left: 50%; */
    margin: 0 auto;

}
.bullet {

        width: 7px;
        height: 7px;
        border-radius: 50%;
        border: 1px solid #4B82FA;
        cursor: pointer;
        margin: 0 6px;
}
.bullet-2 {
    border: 1px solid #fff;
}

.company-slider .bullet-active,
.users-slider .bullet-active
{
    background-color: white;
}



section.videos .row.videos .bullet-2 {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 1px solid #4B82FA;
    cursor: pointer;
    margin: 0 6px;
}

section.videos .row.videos .bullet-active {
    background-color: #4B82FA;
}

.wb3 {
    background-color: #fff;
}

.line-mask {
    display: none;
}

.green-slider,
.blue-slider
.company-choice{
    display: none;
}

.mobile-green-slider,
.mobile-blue-slider {
    display: block;
    padding-top: 50px;
}
.blue-slider{
    display: none;
}

.mobile-blue-slider {
    height: 400px;
}

.company-info
 {
    right: 0px;
    left: 0px;
    margin: 0 10px;
    max-width: 290px;
}

.company-slider .text {
    font-size: 14px;
    max-height: 200px;
    overflow: hidden;
    height: 80px;
}

.company-info-img {
    width: 100px;
    border-radius: 50%;
    height: 100px;
    border: 10px solid #fff;
    /* border-color: white; */
    border-width: 10px;
}

.view-company {
    right: 100px;
    top: 21px;
}

.users-info {
    right: 0;
    /* left: 0; */
    width: 300px;
}

.users-section-mobile .u1 {
    background-image: url(../img/users_slider/u1.svg);
    width: 60px;
    right: 195px;
    bottom: 395px;
}
.users-section-mobile .u2 {
    background-image: url(../img/users_slider/u2.svg);
    bottom: 380px;
    right: 250px;
}

.users-section-mobile .u3 {
    right: 120px;
    bottom: 395px;
    background-size: contain;
    width: 70px;
    height: 70px;
}

.users-section-mobile .u33 {
    height: 70px;
}
.users-section-mobile .u4 {
    background-image: url(../img/users_slider/u4.svg);
    bottom: 395px;
    left: 205px;
}

.users-section-mobile .u5 {
    background-image: url(../img/users_slider/u5.svg);
    left: 250px;
    bottom: 380px;
}

.users-section-mobile .u1,
.users-section-mobile .u2,
.users-section-mobile .u4,
.users-section-mobile .u5 {
    width: 40px;
    height: 40px;
    background-size: contain;
}

.users-section {
    display: none;
}

.users-section-mobile {
    margin: 260px auto 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 320px;
}

.video-2 {
    position: absolute;
    right: 0px;
    top: 0px;
    /* bottom: 240px !important; */
}
.grey-figure {
    display: none;
}

 .subtitle {
    font-size: 16px;
    font-weight: 600;
}


.company-slider .subtitle {
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    padding: 0 0 15px
}

.company-choice {
    display: none;
}



.about-us {
    margin-top: 190px;
    margin-bottom: 35px;
}



section.videos {
    margin-bottom: 70px;
}


.company-slider .title, .users-slider .title {
    font-size: 18px;
    padding-top: 27px;
}


.white-rect {
    position: absolute;
    bottom: 315px;
    right: 0;
}

.white-rect img {
    width: 130px;
    height: 130px;
}
.circle-group {
    position: absolute;
    top: 355px;
    /* right: 10px; */
    left: -25px;
}


.blue-trigon {
    right: 0px;
    top: 400px;
}




.grey-bottom-line {
    display: none;
}

.grey-bottom-line-mobile {
    display: block;
}



.statistic-num-container {
    position: relative;
}

.statistic-num-row {
    position: absolute;
    bottom: 155px;
    width: 100%;
}



.statistic-num {
    position: initial;
    display: flex;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    color: #000051;
    padding-top: -100px;

}

.align-num {
    padding-top: 10px;
}

.video.v-1 {
    display: flex;
    margin: 0 auto;
}


.arrow-ellipse,
.right-arrow,
.left-arrow {
    display: none;
}


.user-numerals {
    display: none;
}

.user-numerals-mobile {
    display: block;
}

.calculator-text .title {
    font-size: 16px;
}

.calculator-text {
    padding-left: 20px;
}


.mounth-sum{
    height: 120px;
}
.calculate-section {
    display: block;
}

.sale {
    margin-top: 90px;
}

.users-number {
 
    text-align: center;
}

.users-number .number span ,
.users-number .econom,
.users-number .number{
    font-size: 18px;
}
.users-number .number {
    font-weight: 600;
}
.users-number .econom {
    color: #b3aeae;
    text-align: center;
    padding-left: 80px;
    padding-right: 0;
}

.range-slider-container {
    position: relative;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: baseline;
}

.calculate-section {
    display: block;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.user-numerals-mobile {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
}

.calculate-section .text {
    padding-left: 20px;
    padding-top: 25px;
}

.sale .sum {
    padding-left: 20px;
}

.card-1 {
    display: flex;
    margin: 0 auto;
}

.mobile-app {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
}


.about-us {
    display: flex;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.price-filter,
.period-filter{
    width: 300px;
    display: flex;
    margin: 0 auto;
}

.range-slider-progress-container {
    width: 300px !important;
}
.range-slider-slider {
    width: 300px !important;
}
.range-slider-input {
    width: 300px !important;
}
.period-filter {
    width: 300px !important;
}
.users-number .econom {

    font-size: 16px;
}



.range-slider.range-slider-limit.range-slider-limit-right.range-slider-limit-right-1 {
    left: 260px;
}




.range-slider.range-slider-limit.range-slider-limit-right.range-slider-limit-right-2 {
    left: 285px;
}


.mobile-slogan {
    font-size: 16px;
    font-weight: 600;
}

.mobile-app {
    padding-top: 45px;
}


.mobile-img img {
width: 100%
}


.app-mobile-mobile {
    display: flex;
    flex-direction: column-reverse;
}


.about-mobile-app {
    padding: 35px 0;
}

.our-number-text {
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 60px;
    padding-top: 10px;
}

.our-number {
    font-size: 18px;
    padding-bottom: 50px;
 
}

.single-number {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    max-width: 100px;
    text-align: center;
    padding: 5px 15px;
    margin: 0 4px;

    background: #fff;
}

.our-number.our-number-left {
    margin-right: 5px;
}
.our-number.our-number-right {
    margin-left: 5px;
}

.our-yellow-circle {
    top: -15px;
    right: 138px;

}
.our-yellow-circle img {
    width: 20px;
}

.our-number-circle {
    top: -5px;
    right: 150px;
}

.our-number-circle img{
    width: 50px;

}

.our-number-octogonal {
    display: none;
}

.our-number-pentagon img {
    width: 145px;
}

.our-number-pentagon {
    left: 260px;
    top: 60px;
    width: 150px;
    height: 150px;
}

.connect-call {
    font-size: 16px;
    font-weight: 600;
    /* padding-bottom: 35px; */
}

.user-slider-figure {
    display: none;
}

.green-video-rectangle {
    display: none;
}


img.video-play.video-play-2 {
    padding: 17% 0;
}

.menu-align {
 
    align-items: center;
}

.menu__item {
    margin-right: 0px;
    margin-left: 0px;
}

img.logo {
    width: 110px;
}

.yellow-element {
    justify-content: center;
}

.video-user {
    width: 290px;
}

.mobile-user-slider {
    position: relative;
}


.user-video {
    position: absolute;
    bottom: 190px;
    transform: translateX(-50%);
    left: 50%;
}

.video-play-user {
    position: initial;
    /* top: 100px; */
    /* bottom: 59px; */
    /* transform: translateX(-50%); */
    z-index: 5;
    transform: none;
}

.users-info.users-info-mobile {
    top: 100px;
}

.map-zone-mobile {
    display:block;
    position: relative;
}

.map-zone {
    display: none;
}

.mobile-bg {
    position: absolute;
    z-index: 0;
    width: 100%
}

.mobile-map {
    position: absolute;
    z-index: 1;
    width: 100%
}
.location-yellow-mobile{
    position: absolute;
    top: 80px;
    left: 200px;
    z-index: 3;
}

.location-white-mobile {
    position: absolute;
    top: 130px;
    left: 217px;
    z-index: 3;
}

.form-mobile {
    height: 370px;
    width: 290px;
    z-index: 4;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
    border-radius: 10px;
}

.form-text-mobile {
    padding: 0;
}
.contact-info-mobile {
    line-height: 40px;
    font-size: 16px;
    padding-bottom: 40px;
    text-align: center;
}

.form-wrap-mobile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    max-width:290px;
    position: relative;
}

.blue-form-fig {
 
    width: 295px;
 }

 .form-height {
    width: 290px;
    height: 370px;
}


.content-text-mobile{
    font-size: 14px;
}

.form-content {
 
    padding: 7px 0;
}

.content-text-mobile span {
    display: none;
}

.license {
    position: absolute;
    top: 550px;
    z-index: 4;
}

.footer {
    display: flex;
}
}