

body {
    background: url(76YM.gif)  top;
    transform: rotate(90deg);
}

.calculator {
    transform: rotate(-90deg);
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    padding-top: 20%;
}

.calculator__btns {
    display: flex;
}

#calculator__btns-element {
    margin: 15px 0px 0px 10px;
}

#calculator__btns-element:nth-child(5) {
    margin-right: 10px;
}

#result {
    color: rgb(207, 208, 209);
    font-family: 'ZCOOL KuaiLe';
}

input, button {
    font-family: 'ZCOOL KuaiLe';
    border: none;
    border-radius: 3px;
    height: 20px;
    background: rgba(255, 255, 255, 0.5);
    color: aliceblue;
    outline: none;
}



@media screen and (max-width:425px) {
    .calculator {
        padding-top: 35%;
    }
}

@media screen and (max-width:320px) {
    .calculator {
        padding-top: 45%;
    }
}