.range-slider-container{
    position: relative;
}
.range-slider-input{
    width: 200px;
    height: 48px;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);
    border-radius: 7px 7px 0px 0px;
    z-index: 1;
    /* position: absolute; */
    font-size: 16px;
    line-height: 19px;
    border-top-width: 0px;
    border-left-width: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 18px;

}
.range-slider-slider{
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    position: absolute;
    z-index: 3;
    top: 46px;
    width: 198px;
    height: 1px;
    margin: 0;
    background: #00005133;
    outline: none;
}
.range-slider-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%; 
    background: #00C853;
    cursor: pointer;
    opacity: 1;
}

.range-slider-slider::-moz-range-thumb {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #00C853;
    cursor: pointer;
    opacity: 1;
}
.place{
    position: absolute;
    bottom:500px;
    left: 100px;
}
.place2{
    position: absolute;
    top:100px;
    left:1000px;
}
.place3{
    position: absolute;
    bottom:500px;
    right: 220px;
}
.range-slider-progress-container{
    width: 198px;
    height: 4px;
    z-index: 2;
    position: absolute;
    top: 44px;
}
.range-slider-suffix{
    position: absolute;
    z-index: 4;
    top: 13px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}


@media screen and (min-width: 768px){
    .range-slider-suffix{
        left: 170px;
    }
}

@media screen and (max-width: 768px){
    .range-slider-suffix{
        left: 270px;
    }
}
.range-slider-progress{
    position: relative;
    height: 100%;
    fill: #00C853;
    background-color: #00C853;
}
.range-slider-limit{
    position: absolute;
    z-index:4;
    top: 55px;
   
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #000051;
    opacity: 0.2;
    border-radius: 5px;
}

.range-slider-limit-left{
    left:0;
}
.range-slider-limit-right{
    left:180px;
}

.calculate-section .text {
    font-size: 12px;
 padding-bottom: 10px;
    color: #BDBDBD;
}