
/*first screen*/

#navbar-001 {
    position:absolute;
    right: 0;
    left: 0;
    background-color: #c4cdd6;
    height:675px;
    z-index: 1;
}

#navbar-001:target {
    visibility: hidden;
    transition: 5s;
}

#navbar-002 {
    width: 1000px;
    right: 0;
    left: 0;
    z-index: -1;
}

.navbar-001 .navbar-button a {
    display:flex;
    margin: 30% auto;
    justify-content: center;
    width: 249px;
    height: 45px;
    padding-top: 10px;
    border-radius: 3px;
    background-color: #ff891e;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

.navbar-001 .navbar-button:hover a {
    cursor: pointer;
    color: #ffffff;
}



.navbar-img {
    position:absolute;
    left: 0;

}
